<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>没钱赚商店</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="../scripts/add.js"></script>
	
</head>
<body>
	<nav class="navbar navbar-inverse" role="navigation">
	   <div class="navbar-header">
	      <ul class="nav navbar-nav">
	         <li>
	         	<a href="#">Let's Go</a>
	         </li>
	         <li>
	         	<a href="../index.html">主页</a>
	         </li>
	         <li>
	         	<a href="itemlist.html">商品列表</a>
	         </li>
	      </ul>
	   </div>
	   <div class="pull-right">
	      <ul class="nav navbar-nav">
	         <li>
	         	<a href="shoppingcart.html"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车 (<span id="count">0</span>)</a>
	         </li>
	      </ul>
	   </div> 
	</nav>
	<div class="container">
		<form role="form">
		  <fieldset>
			<div class="form-group">
			   <label for="name">商品名称</label>
			   <input type="text" id="name" class="form-control" placeholder="name input">
			</div>
			<div class="form-group">
			   <label for="price">商品单价</label>
			   <input type="text" id="price" class="form-control" placeholder="price input">
			</div>
			<div class="form-group">
			   <label for="unit">单位</label>
			   <input type="text" id="unit" class="form-control" placeholder="unit input">
			</div>
		    <button id="submit" class="btn btn-primary">添加</button>
		  </fieldset>
        </form>
	</div>
</body>
</html>