<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Let's Go</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="../index.html">主页</a></li>
          <li class="active"><a href="#">Admin</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container theme-showcase" role="main">
    <div class="panel panel-default">
      <table id="item-table" class="table table-bordered" style="table-layout:fixed">
        <thead>
          <tr>
            <th class="active" colspan="4" style="text-align:center"><h4>商品列表</h4></th>
          </tr>
          <tr>
            <th>名称</th>
            <th>单价(元)</th>
            <th>单位</th>
            <th>管理</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.unit %></td>
            <td>
              <a href="#" class="edit-product">编辑</a>
              <a href="#" class="delete-product">删除</a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <a href="">添加商品</a>
  </div>

  <script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
  <script type="text/javascript" src="../scripts/model/item.js"></script>
  <script type="text/javascript" src="../scripts/model/promotion.js"></script>
  <script type="text/javascript" src="../scripts/utils.js"></script>
  <script type="text/javascript" src="../scripts/admin.js"></script>

</body>
</html>
