<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Let's Go</a>
        </li>
        <li>
          <a href="../index.html">主页</a>
        </li>
        <li>
          <a href="views/items">商品列表</a>
        </li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="/shop"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车 (<span id="count">0</span>)</a>
        </li>
        <li><a id="logout" href="#" ><span>退出</span></a></li>
      </ul>
    </div>
  </nav>
  <div class="container" style="margin-right:auto;margin-left:auto;">
    <form role="form">
      <fieldset>
        <div class="form-group">
          <label for="username">账号</label>
          <input type="text" style="width:370px;height:30px" id="username" class="form-control" placeholder="username input">
        </div>
        <div class="form-group">
          <label for="password">密码</label>
          <input type="password" style="width:370px;height:30px" id="password" class="form-control" placeholder="password input">
        </div>
        <div class="form-group">
            <label for="customLogin"><input name="login"  type="radio"  id="customLogin"  />普通用户</label>
            <label for="adminLogin"><input name="login"  type="radio"  id="adminLogin" checked="true"/>管理员</label>
        </div>
        <button id="login" style="width:185px;height:40px" class="btn btn-primary">登陆</button>
        <button id="register" style="width:185px;height:40px" class="btn btn-primary">注册</button>
      </fieldset>
    </form>
  </div>
  <script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
  <script type="text/javascript" src="../scripts/model/item.js"></script>
  <script type="text/javascript" src="../scripts/model/promotion.js"></script>
  <script type="text/javascript" src="../scripts/utils.js"></script>
  <script type="text/javascript" src="../scripts/admin.js"></script>
  <script type="text/javascript" src="../scripts/login.js"></script>
</body>
</html>
