<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title> 
  <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../styles/orderlist.css"/>
</head>

<body>
  
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="items.html">Let's Go</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="../index.html">主页</a></li>
          <li><a href="items.erb">商品列表</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="cart.erb"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车(<span id="count">2</span>)</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container theme-showcase" role="main">
    <% unless @orderlist.nil? %>
      <% @orderlist.each do |order|%>
        <div id="navbar" class="navbar-collapse collapse box">
            <p>订单编号：<%= order["guid"] %><span class="glyphicon glyphicon-remove remove"></span></p>
            <ul class="nav navbar-nav order">
              <li>
                <a href="/orders/<%= order["guid"] %>"class="datails">订单详情<span class="glyphicon glyphicon-list-alt"></span></a>
              </li>
              <li><%= order["time"] %></li>
              <li><%= order["totalMoney"] %>¥</li>
              
            </ul>
        </div>
      <% end %>
    <% end %>
  </div>
  

  <script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
  <script type="text/javascript" src="../scripts/model/item.js"></script>
  <script type="text/javascript" src="../scripts/model/promotion.js"></script>
  <script type="text/javascript" src="../scripts/utils.js"></script>

</body>
</html>
