	<script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
	<script type="text/javascript" src="../scripts/model/item.js"></script>
	<script type="text/javascript" src="../scripts/model/promotion.js"></script>
	<script type="text/javascript" src="../scripts/utils.js"></script>
	<script type="text/javascript" src="../scripts/admin.js"></script>
	<script type="text/javascript" src="../scripts/login.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
</body>
</html>