<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pos Web</title>
  <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../styles/main.css"/>
</head>

<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/views/items">Let's Go</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="../index.html">主页</a></li>
          <li class="active"><a href="/views/items">商品列表</a></li>
          <li><a href="/orders">订单管理</a></li>
        </ul>
      </div>
      <div class="container row col-xs-１">
        <ul class="nav navbar-nav navbar-right">
          <% if @loginUser %>
            <li><a href="/shop"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车 (<span id="count"><%= @count %></span>)</a></li>
          <% end %>
          <li><a id="title-login" href="#"><span class="manager-authority"></span></a></li>
          <li><a id="logout" href="#" ><span>退出</span></a></li>
        </ul>
      </div>
    </div>
  </nav>