<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pos Web</title>
  <link rel="stylesheet" href="../styles/main.css"/>
  <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
          <a href="views/items">Let's Go</a>
        </li>
        <li>
          <a href="../index.html">主页</a>
        </li>
        <li>
          <a href="views/items">商品列表</a>
        </li>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="/shop"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车 (<span id="count">0</span>)</a>
        </li>
        <li><a id="logout" href="#" ><span>退出</span></a></li>
      </ul>
    </div>
  </nav>