
.back{
	background: #ccc;
}
body{
	background-color: #222;
}
.money{
	color: #f40;
	font-weight: 700;
	font-size: 22px;
	font-family: tohama, arial;
}
.promotion{
	background: url("btn-21.png") repeat scroll 0 0 transparent;
	color: #FFFFFF;
	height: 21px;
	line-height: 21px;
	text-align: center;
	width: 67px;
	text-decoration: none;
	
}
.numcolor{
	background-color: #f40;
	color: #FFFFFF;
	font-weight: 700;
}
.numlcation{
	text-align: center;
	background-color: #585858;
	font-weight: 700;
	color: #FFFFFF;
}
.show_promotion{
	float: right;
	display: none;
}
.table-bordered>tbody>tr{
	height: 100px;
}
.table-bordered>tbody>tr>td{
	border-left: none;
	border-right: none;
	padding-top: 40px;
	font-weight: 700;
	font-size: 15px;
	font-family: tohama, arial;

}

.table-clo{
	color: #FFFFFF;
	background-color: #f40;
	font-weight: 700;
	font-family: tohama, arial;
}
.table-bordered>thead>tr>th{

	border-left: none;
	border-right: none;
}
.trash{
	float:right;
	margin-right:30px;
	color: red;
    font-size: 22px;
}