.navbar {
  position: relative;
}

.shopping-list {
	margin-bottom: 0px;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

.background{
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.5;
}

.overlay .product{
	position: absolute;
	top: 60px;
	width: 40%;
	left: 30%;
	padding: 10px 10px;
	background: #fff;
}
.edit-product,.add-product,.delete-product{
	color: #333;
	margin: 0 10px 0 10px;
}
.add-product {
	margin-bottom: 40px;
}
.back{
	background: #ccc;
}
.table-clo{
	color: #FFFFFF;
	background-color: #585858;
	font-weight: 700;
	font-family: tohama, arial;
}
.addInCart{
	text-align: center;
}

.table-bordered>tbody>tr{
	height: 100px;
}
.table-bordered>tbody>tr>td{
	padding-top: 40px;
	font-weight: 700;
	font-size: 17px;
	font-family: tohama, arial;
}
body{
	color: #585858;
}

input:required:invalid{
  white-space:normal;

}
input:required:valid{
  background: rgba(13, 153, 12, 0.26);
}


.ic_plaint{
  display: inline-block;
  color: red;
}
.ic_wrong{
  display: none;
  color: red;
}

.product-information-error {
	color:red;
}
